
   <title> Pagina do Usuario | Armazém Digital</title>
   <%- include('./components/header.ejs') %>

            <section class="categorias"><br>

                <div class="alvenaria">

                    <p>Alvenaria</p><br>

                    <div class="alvenaria1">

                    </div>
                    
                    <div class="alvenaria2">

                    </div>
                    <div class="alvenaria3">

                    </div>
                    <div class="alvenaria4">

                    </div>
                    <div class="alvenaria5">

                    </div>

                </div> 


                <div class="Banheiro">

                    <p>Banheiro</p><br>

                    <div class="Banheiro1">

                    </div>
                    
                    <div class="Banheiro2">

                    </div>
                    <div class="Banheiro3">

                    </div>
                    <div class="Banheiro4">

                    </div>
                    <div class="Banheiro5">

                    </div>

                </div>

                <div class="Cozinha">

                    <p>Cozinha</p><br>

                    <div class="Cozinha1">

                    </div>
                    
                    <div class="Cozinha2">

                    </div>
                    <div class="Cozinha3">

                    </div>
                    <div class="Cozinha4">

                    </div>
                    <div class="Cozinha5">

                    </div>

                </div>

                <div class="Eletrica">

                    <p>Eletrica</p><br>

                    <div class="Eletrica1">

                    </div>
                    
                    <div class="Eletrica2">

                    </div>
                    <div class="Eletrica3">

                    </div>
                    <div class="Eletrica4">

                    </div>
                    <div class="Eletrica5">

                    </div>

                </div>

                <div class="Hidraulica">

                    <p>Hidraulica</p><br>

                    <div class="Hidraulica1">

                    </div>
                    
                    <div class="Hidraulica2">

                    </div>
                    <div class="Hidraulica3">

                    </div>
                    <div class="Hidraulica4">

                    </div>
                    <div class="Hidraulica5">

                    </div>

                </div>

                <div class="Ferramentas">

                    <p>Ferramentas</p><br>

                    <div class="Ferramentas1">

                    </div>
                    
                    <div class="Ferramentas2">

                    </div>
                    <div class="Ferramentas3">

                    </div>
                    <div class="Ferramentas4">

                    </div>
                    <div class="Ferramentas5">

                    </div>

                </div>

            </section>
        </body>
</html>