<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" 
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&
    display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&family=
    Roboto:wght@100;300&display=swap" rel="stylesheet">

    <title> Home | Armazém Digital</title>
</head>
<body>
    <header>
        <div class="headerDiv"></div>
        <div class="cabecalho">
            <a href="/home">
                <img src="/img/armazemDigitalLogo.png" alt="logo" class="logo">
            </a>
            <div class="barraPesquisa">
                <input class="busca" type="text" name="busca" id="busca" placeholder="O que procura? "/>
                <img class="lupa" src="/img/logo_search.svg" alt="busca">
            </div>
            <div class="userEcarrinho">
                <a href="/paineldousuario">
                    <img src="/img/logo_user.svg" alt="usuarioLogin">
                </a>
                <a href="/carrinho">
                    <img src="/img/logo_shopping.svg" alt="carrinho de compras">
                </a>
            </div>
        </div>
          <div>
            <nav class="menu">
                <ul class="listaDoMenu">
                    <li><a href="#">Pagina Inicial</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Alvenaria</a></li>
                    <li><a href="#">Banheiro</a></li>
                    <li><a href="#">Cozinha</a></li>
                    <li><a href="#">Eletrica</a></li>
                    <li><a href="#">Hidráulica</a></li>
                    <li><a href="#">Ferramentas</a></li>
                </ul>
            </nav>
          </div>
    </header>
    <main>
        <h1>Confira as promoções da semana maluca!</h1><br>
        <div class="produtosPrincipais">
            <div class="produtoPrincipal1">
                <img src="/img/produtos/CarrinhoDeMao.png" alt="carrinhodemao">
                <h2>Em até 10x de R$17,99!! <br> Aproveite!</h2>
                
            </div>
            <div class="produtoPrincipal2">
                <img src="/img/produtos/parafusadeiraBosch.png" alt="parafusadeiraBosch">
                <h2>Em até 10x de R$22,90!! <br> Grátis, maleta com diversos itens!</h2>
            </div>
            <div class="produtoPrincipal3">
                <img src="img/produtos/cimentoVotoran.png" alt="cimentoVotoran">
                <h2>10x de R$19,90!! <br>Cimento melhor nao há </h2> <br>
            </div>
        </div>
        <div class="banner1">
            <p class="textoBanner1">Você também pode se interessar por esses itens com preços imbatíveis...</p>
        </div>
        <div class="outrosProdutos">
            <div>
            <img src="/img/produtos/cubaBanheiro.png" alt="cubaBanheiro" width="250px" height="250px">
            <p class="textoProdutos">Cuba Decor Gold 25lts.<br><i>Torneira não inclusa</i></p>
            <a href="#">Decor</a>
            <p class="precoProdutos"> R$ 349,90 à vista</p>
            <p>Ou 10x sem juros!</p>
            </div>

            <div>
            <img src="/img/produtos/torneiraCromada.png" alt="torneira cromada " width="250px" height="250px">
            <p class="textoProdutos">Torneira Cromada Deca.<br><i>Torneira Bancada</i></p>
            <a href="#">Deca</a>
            <p class="precoProdutos"> R$ 179,90 à vista</p>
            <p>Ou 10x sem juros!</p>
            </div>

            <div>
            <img src="/img/produtos/blocoDeVidro.png" alt="bloco de vidro" width="250px" height="250px">
            <p class="textoProdutos">Bloco de Vidro Duralex 25lts.<br><i>Promoçao acima de 50Unid.</i></p>
            <a href="#">Duralex</a>
            <p class="precoProdutos"> R$ 22,90 à vista</p>
            <p>Ou 10x sem juros!</p>
            </div>

            <div>
            <img src="/img/produtos/lixeira12l.png" alt="lixeira 12litros" width="250px" height="250px">
            <p class="textoProdutos">Lixeira inox Brimar.<br><i>Cap. 10lts</i></p>
            <a href="#">Brimar</a>
            <p class="precoProdutos"> R$ 54,90 à vista</p>
            <p>Ou 10x sem juros!</p>
            </div>

            <div>
            <img src="/img/produtos/viaplus5000.png" alt="viaplus 5000" width="250px" height="250px">
            <p class="textoProdutos">Argamassa Viaplus 5000.<br><i>Produto para prevençao de mofos e umidade</i></p>
            <a href="#">Viapol</a>
            <p class="precoProdutos"> R$79,90 à vista</p>
            <p>Ou 10x sem juros!</p>
            <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <p class="inspire-se">Inspire-se</p>
        </div>
        <div class="quadrosInspire-se">
            <br><br>
            <div>
                <a href="#">
                    <img src="/img/sections/cozinha.jpg" alt="" height="350px" width="250px">
                </a>
            </div>

            <div>
                <a href="#">
                    <img src="/img/sections/ferramentas.jpg" alt="" height="350px" width="250px">
                </a>
            </div>

            <div>
                <a href="#">
                    <img src="/img/sections/homeOffice.jpg" alt="" height="350px" width="250px">
                </a>
            </div>

            <div>
                <a href="#">
                    <img src="/img/sections/sala.jpg" alt="" height="350px" width="250px">
                </a>
            </div>
        </div>
    </main>
   
</body>
<footer>
    <div class="footer">
        
    </div>
</footer>
</html>