<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/paineldousuario.css">
    <title> Painel do Usuario | Armazém Digital</title>
</head>
<body>
    <header>
        <div class="headerDiv"></div>
        <div class="cabecalho">
            <a href="/home">
                <img src="/img/armazemDigitalLogo.png" alt="logo" class="logo">
            </a>
            <div class="barraPesquisa">
                <input class="busca" type="text" name="busca" id="busca" placeholder="O que procura? "/>
                <img src="/img/logo_search.svg" alt="busca">
            </div>
            <div class="userEcarrinho">
                <a href="/paineldousuario">
                    <img src="/img/logo_user.svg" alt="usuarioLogin">
                </a>
                <a href="/carrinho">
                    <img src="/img/logo_shopping.svg" alt="carrinho de compras">
                </a>
            </div>
        </div>
    </header>
    <main>
        <h1>Você Esta na pagina do usuario!</h1>,<br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque at excepturi culpa quas dolorem, vero,<br> nisi aliquam architecto voluptatum possimus quasi sit? Quasi dolores beatae repudiandae porro sed. Pariatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque at excepturi culpa quas dolorem, vero,<br> nisi aliquam architecto voluptatum possimus quasi sit? Quasi dolores beatae repudiandae porro sed. Pariatur!</p>
        
    </main>
    <footer>
        <div class="footer">
            
        </div>
    </footer>
</body>
</html>