<title> Pagina do Usuario | Armazém Digital</title>
<%- include('./components/header.ejs') %>
    <main>
        <h1>Você está na pagina Produtos!</h1><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque at excepturi culpa quas dolorem, vero,<br> nisi aliquam architecto voluptatum possimus quasi sit? Quasi dolores beatae repudiandae porro sed. Pariatur!</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque at excepturi culpa quas dolorem, vero,<br> nisi aliquam architecto voluptatum possimus quasi sit? Quasi dolores beatae repudiandae porro sed. Pariatur!</p>
    </main>
    <footer>
        <div class="footer">
            <p></p>
        </div>
    </footer>
</body>
</html>